body {
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .profile-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }


  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #00fff2;
  }

  .profile-info p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .cta-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }