body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

h1.inti {
    text-align: center;
    color: black;
    margin-top: 30px;
    font-size: 32px;
}


img {
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width : 700px; 
    height : 300px; 
    object-fit: cover;
}

p.inti {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    border-left: 4px solid #20B2AA;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    img {
        width: 90%;
        height: auto;
    }

    p.inti {
        font-size: 16px;
    }

    .footer-grid {
        flex-direction: column;
        align-items: center;
    }
}

        .back {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s;
    font-size: 16px;
    color: white;
    background-color: #20B2AA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease;
        }


   .back:hover {
    background-color: white;
    color: #20B2AA;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

.back-container {
    text-align: center;
    margin-top: 30px;
        justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}